body {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  margin: 0;
  transition: background-color 0.2s ease, color ease;
}

main {
  text-align: center;
}

h2 {
  font-size: 75px;
  margin-bottom: 10px;
  font-family: 'Ubuntu Mono', monospace;
}

p {
  font-size: 15.5px;
  margin-bottom: 20px;
  font-family: "DM Mono", monospace;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 15px;
  border: 2px solid #000;
  font-size: 14px;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  font-family: "DM Mono", monospace;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

#searchEngine {
  width: 140px;
  padding: 12px;
  margin-right: 10px;
  font-family: "DM Mono", monospace;
}

#searchButton {
  width: 177px;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 12px;
  cursor: pointer;
  font-family: "DM Mono", monospace;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14.5px;
  background-image: linear-gradient(to right, goldenrod 0%, rgb(221, 182, 84) 100%);
}

#searchButton:hover {
  background-image: linear-gradient(to right, rgb(209, 172, 78) 0%, rgb(167, 142, 78) 100%);
}

.search-controls select {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  font-family: "DM Mono", monospace;
}

.search-controls button {
  margin-left: 10px;
}

.icons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon-link {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin-bottom: 7px;
  font-size: 12px;
  color: #000;
  font-family: "DM Mono", monospace;
}

